/bootstrap/compiled.php
/vendor
/public/images/generated
/app/config/local/*
/app/assets/bower_stuff
/app/assets/styles/sass/bitters
/app/assets/styles/sass/bourbon
/app/assets/styles/sass/neat
/node_modules
/.sass-cache
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
