/bootstrap/compiled.php
/vendor
/public/images/generated
/public/images/try
/app/config/local/*
/app/assets/bower_stuff
/node_modules
/workbench
/.sass-cache
composer.phar
.env.*.php
.env.php
.DS_Store
Thumbs.db
/bin/phantomjs
