
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.Footer {
    border-top: solid 1px $laravel-border-color;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: .9em;
    margin-top: 5em;
}