button,
.button {
    display: inline-block;
    padding: 15px 30px;
    border: solid 1px lighten($primary-color, 5);
    background: $primary-color;
    transition: all .25s ease-in;
    color: #fff;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;

    &:hover,
    &.focus {
        background-color: darken($primary-color, 20);
        border: solid 1px darken($primary-color, 20);
        color: #fff;
    }

    &.small {
        font-size: 14px;
        padding: 7.5px 15px;
    }
}

