section, .container {
  @include outer-container;

  aside { @include span-columns(3); }

  article { @include span-columns(9); }

}

.row {
  @include row();
}

/**
 * Create Grid-System
 */
@for $i from 1 to 12 {
    .col--#{$i} {
        @include span-columns($i);

        @include media($tablet) { @include fill-parent; }
        @include media($mobile) { @include fill-parent; }

    }
}
.layer {
    min-height: 200px;
    padding: em(100) 0;

    @include media($tablet) {
        padding: em(50) em(20);
    }
}

.layer--light {
    background: #fff;
}

.layer--dark {
    background: #222;
    color: #fff;
}

.layer--primary {
    background: $primary-color--fallback;
}


