.material--title {
    font-weight: $font-weight--medium;
    font-size: em(20);

    @include hyphens(auto);
    @include ellipsis();
}

.material--caption {
    font-weight: $font-weight--normal;
    font-size: em(12);
}

.material--menu {
    font-weight: $font-weight--medium;
    font-size: em(14);
}

.material--button {
    font-weight: $font-weight--medium;
    font-size: em(14);
    text-transform: uppercase;

    margin: 0;
    padding: em(10) em(15);
}

.material--body-1 {
    font-weight: $font-weight--normal;
    font-size: em(14);
}

.material--body-2 {
    font-weight: $font-weight--medium;
    font-size: em(14);
}

.material--subhead {
    font-weight: $font-weight--normal;
    font-size: em(16);
}

.material--headline {
    font-weight: $font-weight--normal;
    font-size: em(24);
}

.material--display-1 {
    font-weight: $font-weight--normal;
    font-size: em(34);
}

.material--display-2 {
    font-weight: $font-weight--normal;
    font-size: em(45);
}

.material--display-3 {
    font-weight: $font-weight--normal;
    font-size: em(56);
}

.material--display-4 {
    font-weight: $font-weight--light;
    font-size: em(112);
}
