.material--title {
    font-weight: $font-weight--medium;
    font-size: em(20);
    // line-height: em(12);

    @include hyphens(auto);
    @include ellipsis();
}

.material--caption {
    font-weight: $font-weight--normal;
    font-size: em(12);
    // line-height: em(12);
}

.material--menu {
    font-weight: $font-weight--medium;
    font-size: em(14);
    line-height: em(12);
}

.material--button {
    font-weight: $font-weight--medium;
    font-size: em(14);
    line-height: em(14);
    text-transform: uppercase;

    margin: 0;
    padding: em(10) em(15);
}

.material--body-1 {
    font-weight: $font-weight--normal;
    font-size: em(14);
    line-height: em(21);
}

.material--body-2 {
    font-weight: $font-weight--medium;
    font-size: em(14);
    line-height: em(21);
}

.material--subhead {
    font-weight: $font-weight--normal;
    font-size: em(16);
    line-height: em(16);
}

.material--headline {
    font-weight: $font-weight--normal;
    font-size: em(24);
    line-height: em(124);
}

.material--display-1 {
    font-weight: $font-weight--normal;
    font-size: em(34);
    line-height: 40px;;
}

.material--display-2 {
    font-weight: $font-weight--normal;
    font-size: em(45);
    line-height: 45px;
}

.material--display-3 {
    font-weight: $font-weight--normal;
    font-size: em(56);
    line-height: 56px;
}

.material--display-4 {
    font-weight: $font-weight--light;
    font-size: em(112);
    line-height: 112px;
}
